<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Successfully authenticated the token is</h1><br>
    <h2>Access Token is</h2> <%- token %> <br>
    
    <h2>ID Token is</h2> <%- id_token %> <br>

    <h2>Verified payload</h2> <%- verified %> <br>

    <h2>Payload </h2> <%- payLoad %>
</body>
</html>